.container {
    h3 {
        text-align: center;
    }
    ul {
        margin-left: 400px;
    }
    p {
        text-align: center;
    }
    
}
.futurePlans {
    ul {
        margin-left: 300px;

    }
}
.thankYou {
    p {
        text-align: center;
        margin-left: 200px;
        margin-right: 200px;

    }
}