.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 30px;
  background-color: #089e21ee;
  border: 1px solid #09d02aee;
  border-radius: 4px;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #060606;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: #09d02aee;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: 1px solid #09d02aee;
  border-radius: 4px;
  cursor: pointer;
  outline: 5px solid #06841baa;
}

.navLink:hover {
  background-color: #6dd7b7;
}
